.nasablue {
    background-color: #0465B2;
}

.whitetext *{
    color: #FFFDF4;
}

.nasared{
    color: #ED181F;
}

.inline *{
    display: inline-block;
}

.wrapAround{
    align: right;
}

#small{
    font-size: 3px;
}

#center{
    text-align: center;
}

p#explanation{
    font-style: italic;
}

table, th, td{
    border: 1px solid black;
}

#param{
    text-align:center;
}
